.AllCollections {
  padding: 30px 0;
  background-color: #FFFFFF;

  .search {
    padding: 30px 0;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 10px;

    .filter {
      max-width: 170px;
      border-radius: 100px;
      flex-shrink: 1;
      flex-grow: 1;
      background: #212529;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border: none;
      text-transform: capitalize;
      font-size: 16px;
    }

    .add_btn {
      padding: 10px 20px;
      min-width: 200px;
      border: 1px solid #4759FF;
      border-radius: 5px;
      background-color: #4759FF;
      color: white;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      text-align: center;
    }
  }

  .tableContainer {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 670px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px 0;
  }

  .title {
    max-width: 650px !important;
    word-break: break-word;
    line-height: 1.6;
  }

  .customTable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

  .customTable th, .customTable td {
    padding: 20px 15px;
    border-bottom: 1px solid #ddd;

  }

  .customTable th {
    background-color: #f4f6fa;
    font-weight: bold;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

  }

  .actionButton {
    background-color: #f0f4ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    padding: 20px;
  }

  .actionButton:hover {
    background-color: #e0e8ff;
  }

  .actionButton svg {
    color: #6b7cff;
  }


  .pagination {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    gap: 10px;

    button {
      border: none;
      background: none;
      font-size: 22px;
      color: #444;
      cursor: pointer;
      transition: color 0.3s;

      &.active {
        color: #f4a261;
        font-weight: bold;
      }

      &:hover:not(.active) {
        color: #888;
      }

      &:disabled {
        color: #ccc;
        cursor: default;
      }
    }
  }

}