.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  padding-block: 16px;
}

.cont {
  display: flex;
  padding: 20px  0;
  max-width: 1440px;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;

  border: 1px salmon solid;
}

.imageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 521px;
}

.mainImage {
  width: 100%;
  max-width: 521px;
  border: 1px solid #ddd;
}

.thumbnailContainer {
  display: flex;
  justify-content: center;
  //gap: 5px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
  border: 1px solid #ddd;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.infoSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 80%;

  .tag {
    background-color: #f4a261;
    text-align: center;
    width: 100px;
    padding: 5px;
    color: white;
    border-radius: 3px;
  }

  .title {
    font-size: 24px;
  }

  .colors {
    display: flex;
    align-items: center;
    gap: 10px;

    .color {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #ddd;
      cursor: pointer;
    }
  }

  .price {
    font-size: 18px;
    display: inline-block;

  }

  .description{
    display: flex;
    flex-direction: column;
    gap: 10px;

    p{
      word-break: break-word;
    }
  }
}
