.ProductSlider {
  max-width: 1440px;
  margin: 0 auto;
  height: auto;


  .title{
    width: 98%;
    margin: 0 auto;

    h3{
      font-size: 24px;
      text-transform: capitalize;
    }

  }

  .slider {
    max-width: 98%;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0;

    .productSlide {
      width: 310px !important;
      height: 379px;
    }
  }

  .arrows{
    display: flex;
    width: 95%;
    justify-content: flex-end;


    button{
      svg{
        background-color: red;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

}

