.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: overlayFadeIn 0.5s ease-out forwards; /* Анимация появления фона */
    transition: background-color 0.3s ease-out; /* Плавное исчезновение фона */
  }
  
  
  .wrap {
    background-color: white;
    padding: 30px;
    border-radius: 40px;
    position: relative;
    width: 620px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%); /* Начальная позиция — справа от экрана */
    animation: slideInFromRight 0.5s ease-out forwards; /* Анимация появления окна */
  }
  
 
  .overlay.fadeOut {
    animation: overlayFadeOut 0.3s ease-in forwards; /* Плавное исчезновение фона */
  }
  
  .wrap.fadeOutWrap {
    animation: slideOutToLeft 0.5s ease-in forwards; /* Анимация сдвига окна влево */
  }
  
  .exitIcon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
  
  .buttons {
    display: flex;
    flex-direction: row ;
    justify-content: end;
    gap: 10px;
  
    .btn1 {
      width: 170px;
      height: 40px;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      text-decoration: underline;
    }
  
    .btn2 {
      width: 170px;
      height: 40px;
      background: #212529; 
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      color: white;
      font-weight: 500;
    }
  }
  
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 520px;
  
    div {
      width: 100%;
      font-size: 16px;
      font-weight: 500;
  
      input {
        width: 100%;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        padding: 10px;
        margin-top: 5px;
      }
  
      textarea {
        height: 160px;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        padding: 10px;
        margin-top: 5px;
      }
    }
  }
  
  .Maintitle {
    font-size: 20px;
    font-weight: 500;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutToLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  
  @keyframes overlayFadeIn {
    0% {
      background-color: rgba(0, 0, 0, 0);
    }
    100% {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  
  @keyframes overlayFadeOut {
    0% {
      background-color: rgba(0, 0, 0, 0.5);
    }
    100% {
      background-color: rgba(0, 0, 0, 0);
    }
  }
  
  
@media screen and (max-width:376px) {
  
  .wrap{
    width: 320px;
    height: 580px;
    padding:10px;
    padding-top: 50px;
    border-radius: 20px;
  }
  .box{
    width: 300px;
    gap: 10px;

    textarea{
      max-height: 80px;
    }
  }
  }
  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .exitIcon{
    top: 20px;
    right: 20px;
  }
  .Maintitle{
    font-size: 18px;
    margin: 20px 0;
  }
  

  
@media screen and (max-width:426px) {
  
  .wrap{
    width: 320px;
    height: 580px;
    padding:10px;
    padding-top: 50px;
    border-radius: 20px;
  }
  .box{
    width: 300px;
    gap: 10px;

    textarea{
      max-height: 80px;
    }
  }
  }
  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .exitIcon{
    top: 20px;
    right: 20px;
  }
  .Maintitle{
    font-size: 18px;
    margin: 20px 0;
  }

  @media screen and (max-width:326px) {
  
    .wrap{
      width: 300px;
      height: 580px;
      padding:10px;
      padding-top: 50px;
      border-radius: 20px;
    }
    .box{
      width: 280px;
      gap: 10px;
  
      textarea{
        max-height: 80px;
      }
    }
    }
    .buttons{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .exitIcon{
      top: 20px;
      right: 20px;
    }
    .Maintitle{
      font-size: 18px;
      margin: 20px 0;
    }