
.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    font-size: 20px;
  }

}.Form {
   max-width: 1350px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 20px 0;

   .line {
     height: 5px;
     width: 100%;
     background: #d0d0d2;
   }

   .info_container {
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding: 20px 0;

     h4 {
       font-size: 18px;
     }

     span {
       display: flex;
       gap: 30px;

       label {
         display: flex;
         flex-direction: column;
         gap: 10px;

         h5 {
           font-size: 16px;
         }

         input {
           width: 450px;
           border-radius: 8px;
           border: 1px solid #CACACA;
           padding: 10px;
         }
       }
     }

     .textarea {
       display: flex;
       flex-direction: column;
       gap: 20px;


       h5 {
         font-size: 16px;
       }

       textarea {
         padding: 10px;
         border-radius: 8px;
         border: 1px solid #CACACA;
       }

     }
   }

   .container {
     padding: 20px;
   }

   .filters {
     display: flex;
     flex-direction: column;
     gap: 20px;

     .group {
       display: flex;
       flex-direction: column;
       gap: 10px;

       p {
         font-weight: bold;
       }

       label {
         display: flex;
         align-items: center;
         gap: 10px;

         input {
           accent-color: #007bff;
         }
       }
     }
   }


   .photos {
     margin-top: 20px;

     p {
       font-weight: bold;
       margin-bottom: 10px;
     }

     .grid {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
       gap: 25px;
     }

     .cardWrapper {
       display: flex;
       flex-direction: column;
       align-items: center;
       flex-wrap: wrap;
       gap: 30px;
     }

     .card {
       position: relative;
       width: 100%;
       aspect-ratio: 1;
       background: #f0f0f0;
       border: 1px dashed #ccc;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0 10px;

       button {
         font-size: 24px;
         background: none;
         border: none;
         cursor: pointer;
       }

       img {
         width: 100%;
         height: 100%;
         object-fit: cover;
       }
     }

     .colors {
       display: flex;
       justify-content: center;
       gap: 10px;
     }

     .colorCheckbox {
       display: flex;
       align-items: center;
       gap: 5px;

       input[type="radio"] {
         accent-color: #007bff;
       }

       span {
         font-size: 14px;
         cursor: pointer;
       }

       .black {
         color: #000;
       }

       .green {
         color: #008000;
       }

       .blue {
         color: #007bff;
       }

       .red {
         color: #ff0000;
       }
     }
   }

   .saveButton {
     width: 100%;
     display: block;
     margin: 20px auto 0;
     padding: 15px 20px;
     background-color: #4759FF;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
     font-weight: bold;
   }
 }


