.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  height: 100dvh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  h1 {
    font-size: 24px;
  }

  .addButton {
    background-color: #007bff;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 40px;
  padding: 30px 0;


  .card {
    width: 370px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
    }

    .actions {
      display: flex;
      gap: 10px;

      button {
        border: none;
        background: none;
        cursor: pointer;
        font-size: 18px;
        padding: 5px;

        &.editButton {
          color: #007bff;

          &:hover {
            color: #0056b3;
          }
        }

        &.deleteButton {
          color: #ff4d4d;

          &:hover {
            color: #cc0000;
          }
        }
      }
    }
  }
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
  }

  .pageNumber {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;

    &.active {
      background-color: #007bff;
      color: white;
    }
  }
}
