.CounterCard {
  width: auto;
  border: 1px solid red;
  text-align: center;

  h3{
    color: #212529;
    font-family: "Montserrat Alternates";
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}