.rating {
  display: inline-block;
  font-size: 24px;
  color: #ccc;
}

.star {
  cursor: pointer;
  transition: color 0.2s;
  font-size: 30px;
  margin-right: 15px; /* Расстояние между звездами */
}

.star:last-child {
  margin-right: 0; /* Убираем отступ у последней звезды */
}

.star.active {
  color: #ff9900; /* Цвет активной звезды */
}

.star.error {
  color: red; /* Цвет для звезд, если есть ошибка */
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}
