.sliderContainer {
  max-width: 2560px;
  margin: 0 auto;
  max-height: 700px;
  overflow: hidden;
  position: relative;

  .react-slideshow-container {
    height: 100%;
  }

  .bgSlide {
    max-width: 2560px;
    margin: 0 auto;
    height: 700px;
    background-size: cover;
    background-position: center;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 1;
    background-color: rgba(156, 162, 169, 0.6);
    max-width: 2560px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
      max-width: 1000px;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;

      @media (max-width: 850px) {
        max-width: 700px;
      }
      @media (max-width: 768px) {
        max-width: 680px;
      }
      @media (max-width: 650px) {
        max-width: 600px;
      }
      @media (max-width: 600px) {
        max-width: 550px;
      }
      @media (max-width: 550px) {
        max-width: 440px;
      }
      @media (max-width: 460px) {
        max-width: 400px;
      }
      @media (max-width: 400px) {
        max-width: 350px;
      }

      .b2b {
        border: 1px solid white;
        padding: 10px 20px;
        border-radius: 40px;
      }

      > span {
        display: inline-flex;
        align-items: flex-end;
        gap: 20px;
        height: 100px;

        @media (max-width: 550px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;
        }

        h4 {
          font-size: 50px;
          font-weight: 600;
          color: #212529;
          margin-bottom: 10px;
          font-family: Montserrat;

          @media (max-width: 650px) {
            font-size: 36px;
          }
          @media (max-width: 550px) {
            font-size: 30px;
          }
        }

        h1 {
          color: #212529;
          font-size: 70px;
          text-transform: uppercase;
          font-family: Montserrat;
          @media (max-width: 650px) {
            font-size: 60px;
          }
          @media (max-width: 550px) {
            font-size: 40px;
          }
        }
      }

      .desk {
        font-size: 18px;
        text-align: start;
        line-height: 1.6;
        //max-width: 800px;
      }

      .btn_to_category {
        display: inline-flex;
        height: 34px;
        padding: 7px 15px;
        border-radius: 5px;
        background: rgba(241, 54, 87, 0.80);
        color: white;
        width: auto;
      }
    }
  }

}