.sliderContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .react-slideshow-container {
    height: 100%;
  }

  .slide {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
  }
}

.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 1;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
  }
}