.wrap{
    background-color: #212529;
    max-width: 2550px;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: white;
    a{
        color: white;
    }

    .content{
        width: 90%;
        display: flex;
        justify-content: space-between;

        .map{
            width: 650px;
            height: 420px;
            border: 2px solid white;
        }
        .info{
            display: flex;
            width: 40%;
            gap: 100px;
            flex-wrap: wrap;
        }

        .adresses {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h6{
                width: 100px;
                padding-bottom: 10px;  
                font-size: 22px;
                border-bottom: 2px solid #E7572A;
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

        }
        .contacts {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h6{
                width: 150px;
                padding-bottom: 10px;  
                font-size: 22px;
                border-bottom: 2px solid #E7572A;
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

        }
        .vacancies {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h6{
                width: 120px;
                padding-bottom: 10px;  
                font-size: 22px;
                border-bottom: 2px solid #E7572A;
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

        }
    }
}

@media screen and (max-width:1300px) {

    .wrap{
        background-color: #212529;
        max-width: 2550px;
        height: 620px;
        display: flex;
        justify-content: center;
        align-items: center;   
        color: white;
        a{
            color: white;
        }
    
        .content{
            width: 1320px;
            display: flex;
            justify-content: space-between;
    
            .map{
                width: 500px;
                height: 400px;
                border: 2px solid white;
            }
            .info{
                display: flex;
                width: 40%;
                gap: 100px;
                flex-wrap: wrap;
            }
    
            .adresses {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 100px;
                    padding-bottom: 10px;  
                    font-size: 22px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
    
            }
            .contacts {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 150px;
                    padding-bottom: 10px;  
                    font-size: 22px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
    
            }
            .vacancies {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 120px;
                    padding-bottom: 10px;  
                    font-size: 22px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
    
            }
        }
    }
}


@media screen and (max-width:1100px) {

    .wrap{
        background-color: #212529;
        max-width: 2550px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;   
        color: white;
        a{
            color: white;
        }
    
        .content{
            width: 950px !important;
            display: flex;
            justify-content: space-around;
    
            .map{
                width: 400px;
                height: 400px;
                border: 2px solid white;
            }
            .info{
                display: flex;
                width: 40%;
                gap: 40px;
                flex-wrap: wrap;
            }
    
            .adresses {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 100px;
                    padding-bottom: 10px;  
                    font-size: 22px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
    
            }
            .contacts {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 150px;
                    padding-bottom: 10px;  
                    font-size: 22px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
    
            }
            .vacancies {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 120px;
                    padding-bottom: 10px;  
                    font-size: 22px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
    
            }
        }
    }
}

@media screen and (max-width:800px) {
    .wrap{
        background-color: #212529;
        max-width: 2550px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;   
        color: white;
        a{
            color: white;
        }
    
        .content{
            width: 700px !important;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            gap: 30px;
    
            .map{
                width: 650px;
                height: 300px;
                border: 2px solid white;
            }
            .info{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 90%;
                gap: 40px;
            }
    
            .adresses {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 100px;
                    padding-bottom: 10px;  
                    font-size: 22px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
    
            }
            .contacts {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 150px;
                    padding-bottom: 10px;  
                    font-size: 22px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
    
            }
            .vacancies {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 120px;
                    padding-bottom: 10px;  
                    font-size: 22px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
    
            }
        }
    }
}


@media screen and (max-width:500px) {
    .wrap{
        background-color: #212529;
        max-width: 2550px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;  
        padding: 30px 0; 
        color: white;
        a{
            color: white;
        }
    
        .content{
            width: 700px !important;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            gap: 30px;
    
            .map{
                width: 380px;
                height: 250px;
                border: 2px solid white;
            }
            .info{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 90%;
                gap: 40px;
            }
    
            .adresses {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 100px;
                    padding-bottom: 10px;  
                    font-size: 22px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
    
            }
            .contacts {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 150px;
                    padding-bottom: 10px;  
                    font-size: 22px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
    
            }
            .vacancies {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 120px;
                    padding-bottom: 10px;  
                    font-size: 22px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
    
            }
        }
    }
}


@media screen and (max-width:400px) {
    .wrap{
        background-color: #212529;
        max-width: 2550px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;  
        padding: 30px 0; 
        color: white;
        a{
            color: white;
        }
    
        .content{
            width: 700px !important;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            gap: 30px;
    
            .map{
                width: 320px;
                height: 220px;
                border: 2px solid white;
            }
            .info{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 90%;
                gap: 20px;
            }
    
            .adresses {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 100px;
                    padding-bottom: 10px;  
                    font-size:16px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    font-size: 16px;
                }
    
            }
            .contacts {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 150px;
                    padding-bottom: 10px;  
                    font-size: 16px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    font-size: 16px;
                }
    
            }
            .vacancies {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6{
                    width: 120px;
                    padding-bottom: 10px;  
                    font-size: 16px;
                    border-bottom: 2px solid #E7572A;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    font-size: 16px;
                }
    
            }
        }
    }
}