.wrap {
    background-color: #212529;
    max-width: 2550px;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  
    a {
      color: white;
    }
  
    .content {
      width: 90%;
      display: flex;
      justify-content: space-between;
  
      .map {
        width: 650px;
        height: 420px;
        border: 2px solid white;
      }
  
      .info {
        display: flex;
        width: 40%;
        gap: 100px;
        flex-wrap: wrap;
      }
  
      .adresses,
      .contacts,
      .vacancies {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        h6 {
          width: 100px;
          padding-bottom: 10px;
          font-size: 22px;
          border-bottom: 2px solid #e7572a;
        }
  
        ul {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
      }
  
      .contacts h6 {
        width: 150px;
      }
  
      .vacancies h6 {
        width: 120px;
      }
    }
  }
  
  @media screen and (max-width: 1300px) {
    .content {
      width: 1320px;
  
      .map {
        width: 500px;
        height: 400px;
      }
    }
  }
  
  @media screen and (max-width: 1100px) {
    .wrap {
      height: 600px;

      .content {
        width: 950px !important;
        justify-content: space-around;
    
        .map {
          width: 400px;
        }
    
        .info {
          gap: 40px;
        }
      }
    }
  
    
  }
  
  @media screen and (max-width: 800px) {
    .wrap {
      height: 600px;

      .content {
        width: 700px !important;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    
        .map {
          width: 650px;
          height: 300px;
        }
    
        .info {
          flex-direction: row;
          justify-content: space-between;
          width: 90%;
          gap: 40px;
        }
      }
    }
  
    
  }
  
  @media screen and (max-width: 500px) {
    .wrap {
      height: auto;
      padding: 30px 0;
      .content {
        width: 700px !important;
    
        .map {
          width: 380px;
          height: 250px;
        }
    
        .info {
          gap: 40px;
        }
      }
    }
  
    
  }
  
  @media screen and (max-width: 400px) {
    .wrap {
      height: auto;
      padding: 30px 0;

      .content {
        width: 700px !important;
    
        .map {
          width: 280px;
        }
    
        .info {
          gap: 20px;
        }
    
        .adresses h6,
        .contacts h6,
        .vacancies h6 {
          font-size: 16px;
        }
    
        .adresses ul,
        .contacts ul,
        .vacancies ul {
          font-size: 16px;
        }
      }
    }
  
    
  }
  