
.cardSlider {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 310px;
    height: 379px;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: #ececec;
    }

    .brand {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #212529;
      color: white;
      text-transform: capitalize;
      padding: 5px 15px;
      width: 102px;
      height: 30px;
      flex-shrink: 0;
    }

    .image {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 4px;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      width: 100%;
      gap: 10px;

      img {
        width: 260px;
        height: 232px;
        object-fit: cover;
      }

      aside {
        width: 100%;
        height: 95px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .line {
          width: 80%;
          height: 1px;
          background-color: #f5f5f5;
          margin: 0 auto;
        }

        h4 {
          overflow: hidden;
          color: #212529;
          text-overflow: ellipsis;
          font-size: 18px;
          font-weight: 500;
        }

        p {
          color: #212529;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

    .cardTitle {
      margin: 8px 0;
      font-size: 18px;
      text-align: center;
    }

    .price {
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }
  }
}