@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat Alternates", sans-serif;
}

body{
  background-color: #F5F5F5;
}

.swiper-button-prev-categories,
.swiper-button-next-categories {
  z-index: 10;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  &:hover {
    background-color: #ACB9BB;
  }

  &::after {
    font-size: 16px;
    color: white;
  }

  &.swiper-button-disabled{
    display: none;
  }
}

.swiper-button-prev-products,
.swiper-button-next-products{

  &.swiper-button-disabled{
    display: none;
  }
}


.swiper-slide1 {
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center !important;
}

.rc-slider-track, .rc-slider-tracks {
  background-color: red !important;
}