$bg-dark: #212529;

.Nav {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: $bg-dark;

  .mobileMenu {
    width: 350px;
    min-height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    -webkit-box-shadow: inset 3px 0 4px 1px rgba(179, 179, 179, 0.48);
    -moz-box-shadow: inset 3px 0 4px 1px rgba(179, 179, 179, 0.48);
    box-shadow: inset 3px 0 4px 1px rgba(179, 179, 179, 0.48);

    &.active {
      transform: translateX(0); /* Выдвигает меню в видимую область */
      opacity: 1;
      right: 0;
    }

    div {
      width: 80%;
      margin: 10px auto 20px;
    }

    ul {
      width: 80%;
      margin: 0 auto;
      height: 800px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 30px;

      li {
        a {
          color: black;
          padding: 0;
        }
      }
    }
  }


  .bottom_nav {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 80px;
    width: 100%;

    .nav {
      width: 1350px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      position: relative;

      @media (max-width: 1280px) {
        width: 1280px;
      }

      .burger {
        display: none;
      }

      ul {
        width: 100%;
        display: flex;
        align-items: center;
        row-gap: 10px;
        justify-content: flex-end;
        gap: 20px;

        li {
          a {
            color: white;
            font-size: 16px;
            padding: 10px;
          }
        }


      }

      @media (max-width: 1010px) {
        ul {
          display: none;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1000px;
          background-color: red;
          justify-content: flex-start;

        }
        .burger {
          display: block;
        }

        .mobileMenu {
          display: block;
          width: 600px;
          min-height: 100vh;
          background-color: red;

        }
      }
    }
  }
}


.languageSelector {
  position: relative;
  cursor: pointer;
  color: white;

  &:hover .dropdownMenu {
    display: block;
    background-color: transparent;
    color: black;
    height: 140px;
    padding: 10px 0;
    z-index: 100;

  }
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  right:-10px;
  background-color: #fff;
  z-index: 10;
  border-radius: 15px;


}

.inner {
  background-color: white;
  width: 100%;
  padding: 10px 4px ;
  border-radius: 15px;


  div {
    padding: 8px 12px;
    cursor: pointer;
    text-align: left;

    &:hover {
      color: #ff6f61;
    }
  }
}



.inner.custom{
  min-width:280px;
}


.navigation{
  width: 1350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  padding: 15px 10px;


  ul {
    width: 100%;
    display: flex;
    align-items: center;
    row-gap: 10px;
    justify-content: flex-end;
    gap: 20px;
    padding: 15px 10px;

    li {
      a {
        color: white;
        font-size: 16px;
        padding: 15px 10px;
      }
    }
  }
}