$bg-dark: #212529;


.Nav {
  width: 100%;
  margin: 0 auto;
  position: relative;




  .mobileMenu {
    width: 350px;
    min-height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    transform: translateX(100%);
    transition: transform 0.3s ease;

    &.active {
      transform: translateX(0);
      transition: transform 0.3s ease;
    }

    -webkit-box-shadow: 3px 0px 4px 1px rgba(179, 179, 179, 0.48);
    -moz-box-shadow: 3px 0px 4px 1px rgba(179, 179, 179, 0.48);
    box-shadow: 3px 0px 4px 1px rgba(179, 179, 179, 0.48);

    div {
      width: 80%;
      margin: 30px auto;
    }

    ul {
      width: 80%;
      margin: 0 auto;
      height: 800px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 30px;

      li {
        a {
          color: black;
          padding: 0;
        }
      }
    }
  }


  .bottom_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-dark;
    padding: 10px 30px;
    height: 80px;
    width: 100%;

    nav {
      width: 1440px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      position: relative;

      @media (max-width: 1280px) {
        width: 1280px;
      }

      .burger {
        display: none;
      }

      ul {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: flex-end;

        li {
          a {
            color: white;
            font-size: 16px;
          }
        }


      }

      @media (max-width: 1010px) {
        ul {
          display: none;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1000px;
          background-color: red;
          justify-content: flex-start;

        }
        .burger {
          display: block;
        }

        .mobileMenu {
          display: block;
          width: 600px;
          min-height: 100vh;
          background-color: red;

        }
      }
    }


  }


}