.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 40px;
}
.title h3 {
  font-size: 24px;
  font-weight: 500;
}

.Brands {
  width: 100%;
  background-color: #E0E0E2;
}

.marquee {
  max-width: 1440px;
  height: 238px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 40px 0;
}
.marquee .marqueeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
}
.marquee .logo {
  min-height: 100px;
  height: 100%;
  width: auto;
  margin: 0 15px;
  border-right: 1px solid rgba(33, 37, 41, 0.1490196078);
  padding-right: 30px;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}